.snackbar{
  position: fixed;
  bottom: 0;
  box-shadow: $shadow-2;
  width: 550px;
  left: calc(50% - (550px / 2));
  z-index: 10000;
  border-top-left-radius: $card-br;
  border-top-right-radius: $card-br;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding-default;
  box-sizing: border-box;
  transition: $transition-1;
  transform: translateY(200px);
  box-shadow: $shadow-2;

  &_color{
    &_error{
      background-color: $error;
    }

    &_success{
      background-color: $success;
    }

    &_alert{
      background-color: $alert;
    }
  }
  

  &_visible{
    transform: translateY(0px);
  }

  &__button{
    appearance: none;
    border: none;
    background: transparent;
    outline: none;
  }

  &__close{
    color: $white;
    font-size: 16px;
    cursor: pointer;
    transition: $transition-1;

    &:hover{
      opacity: 0.8;
    }

    &:active{
      opacity: 0.7;
    }
  }

  &__text{
    color: $white;
  }
}
