.settings{

  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child){
      margin-bottom: $padding-big;
    }
  }

  &__descr{
    margin-top: $padding-default;
  }

  &__left{
    flex: 1;
    margin-right: $padding-default;
  }

  &__right{

  }


}
