.welcome {
  &__content {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    padding-bottom: 250px;
  }

  &__back {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__left {
    padding-top: 150px;
    position: relative;
  }

  &__descr {
    margin-top: $padding-medium;
    color: $white;
    font-size: $fz-llg;
    margin-bottom: $padding-big;
  }

  &__share {
    max-width: 100%;
    position: relative;
    top: 70px;
  }

  &__controls {
    position: relative;
    display: flex;
  }

  &__disclaimer {
    position: relative;

    &-text {
      position: relative;
      color: $grey-dark;
      font-size: $fz-md;
      max-width: 568px;
      padding-bottom: $padding-big;
    }

    &-fragment {
      position: absolute;
      left: -50px;
      bottom: -30px;
      height: 300px;
    }
  }

  &__btn {
    &:not(:first-child) {
      margin-left: $padding-default;
    }
  }
}
