/*========== Body ==========*/
html {
  overflow-x: hidden;
}

body {
  background-color: $body-bg;
  color: $body-color;
  * {
    line-height: normal;
    font-family: $body-font;
    font-style: normal;
  }
}

b {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: $heading-font;
  font-size: $h1-fz;
  font-weight: $fw-semi-bold;
  line-height: 64px;
}

h2 {
  font-family: $heading-font;
  font-size: $h2-fz;
  font-weight: $fw-semi-bold;
  line-height: 43px;
}

h3 {
  font-family: $heading-font;
  font-size: $h3-fz;
  font-weight: $fw-semi-bold;
  line-height: 28px;
}

h4 {
  font-family: $heading-font;
  font-size: $h4-fz;
  font-weight: $fw-semi-bold;
  line-height: 24px;
}

h5 {
  font-family: $heading-font;
  font-size: $h5-fz;
  font-weight: normal;
  line-height: 24px;
}

h6 {
  font-family: $heading-font;
  font-size: $h6-fz;
  font-weight: normal;
  line-height: 21px;
}

.title {
  &_dark {
    color: $dark;
  }

  &_light {
    color: $white;
  }
}

// Modals

.modal {
  max-width: 592px;
  margin: 0 auto;

  &__title {
    color: $dark;
    text-align: center;
    margin-bottom: $padding-normal;
  }

  &__descr {
    margin-bottom: $padding-normal;
  }

  &__label {
    font-weight: bold;
    font-size: $fz-lg;
    display: block;

    &:not(:last-of-type) {
      margin-bottom: $padding-default;
    }
  }

  &__input {
    position: relative;
    box-sizing: border-box;

    &-action {
      position: absolute;
      right: $padding-default;
      top: 23px;
      cursor: pointer;
      transition: $transition-1;

      &:hover {
        color: $primary;
      }

      &:active {
        color: $secondary;
      }
    }
  }

  &__controller {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border-radius: $card-br;
    border: $card-border;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    transition: $transition-1;
    padding: $padding-default;
    resize: none;
    margin-top: $padding-micro;
    position: relative;

    &:focus {
      border-color: $secondary;
    }
  }

  &__checkbox {
    margin-top: $padding-normal;
  }

  &__footer {
    margin-top: $padding-medium;
    display: flex;
    justify-content: flex-end;
  }
}
