.transfer{

  &__amount{
    width: 250px;
    margin-bottom: 0 !important;
  }

  &__address{
    flex: 1;
  }

  &__info{
    color: $secondary;
    margin-left: 4px;
    position: relative;
    top: 2px;
    cursor: pointer;
    transition: $transition-1;

    &:hover{
      color: $primary;
    }
  }

  &__icon{
    margin: 0 $padding-big;
    position: relative;
    top: 46px;
  }

  &__controls{
    display: flex;
    justify-content: space-between;
  }
}
